body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    background-size: cover;
    background-position: center;
    font-family: Montserrat, sans-serif;
}

.bg-image {
    display: none;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(280px + (100vw - 320px) * (40 / 40));
    height: 785.34px;
}

/*.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed green;
    pointer-events: none;
    box-sizing: border-box;
}*/

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32.34px;
}

.header-designer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDFF00;
    padding: 6.83px 16.39px;
    border: 2px solid #000;
    width: 186px;
    height: 100%;
    box-sizing: border-box;
}

.header-container img {
    max-width: 100%;
    min-width: 166.35px;
    min-height: 24.15px;
}

/*.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red;
    pointer-events: none;
    box-sizing: border-box;
}*/

.main-container {
    position: relative;
    width: 100%;
    height: 674px;
    margin-top: 2rem;
}

/*.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed yellow;
    pointer-events: none;
    box-sizing: border-box;
}*/

.main-top {
    position: relative;
    width: 100%;
    height: 454px;
}

.main-down {
    position: relative;
    width: 100%;
    height: 178px;
    margin-top: 2.625rem;
    box-sizing: border-box;
}

/*.main-down::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed white;
    pointer-events: none;
    box-sizing: border-box;
}*/

.web-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 275px;
    color: white;
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
}

.text-light {
    color: #BDFF00;
}

.button-start {
    position: relative;
    display: flex;
    width: 100%;
    height: 147px;
    margin-top: 2rem;
    padding: 1.25rem 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #BCFF02;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
    box-sizing: border-box;
    gap: 20px;
}

.button-link {
    display: flex;
/*    width: 100%;*/
/*    height: 100%;*/
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Убрать подчеркивание у ссылки */
}

.text-start {
    position: relative;
    font-size: 16px;
    color: #BCFF02;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}

.social-network-text {
    position: absolute;
    right: 0rem;
    bottom: 1.8125rem;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 1.125rem */
}

.skill-container {
    position: relative;
    width: 100%;
    height: 121px;
    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    color: white;
    box-sizing: border-box;
    gap: 8px;
}

.skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
    display: flex;
    padding: 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4A4A4A;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.social-icons {
    position: relative;
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 44px;
    justify-content: flex-end;
    margin-top: 13px;
    gap: 8px;
    flex-direction: row;
    box-sizing: border-box;
}

.social-icons-independent {
    display: none;
}

.icon {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 4px;
}

.icon img {
    width: 24px;
    height: 24px;
}

.dsgnr-agency {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 15px;
    align-items: flex-end;
    color: #797979;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.arrow-container {
    display: flex;
    align-items: center;    
}

.arrow-line {
    width: calc(46 / 320 * 100vw);
    height: 1px;
    transition: width 300ms ease-in-out;
}

.arrow-head {
    width: calc(10 / 320 * 100vw);
    height: calc(11 / 320 * 100vw);
    flex-shrink: 0;
    margin-left: -10px;
    transition: fill 300ms ease-in-out;
}

/* Hover effects */
.button-start:hover {
    background-color: #BCFF02;
}

.button-start:hover .arrow-line line {
    stroke: black;
}

.button-start:hover .arrow-head path {
    fill: black;
}

.button-start:hover .text-start {
/*    transform: translateX(calc(-35 / 320 * 100vw));*/
    color: #1E1E1E;
    font-weight: 500;
}

.skill-UX-UI:hover, 
.skill-Motion:hover, 
.skill-3D:hover, 
.skill-Айдентика:hover, 
.skill-Верстка:hover, 
.skill-AI-Изображения:hover, 
.skill-Баннеры:hover {
    color: #BCFF02; /* Измените это на желаемый цвет */
}

.icon:hover img {
    filter: brightness(0) saturate(100%) invert(63%) sepia(97%) saturate(551%) hue-rotate(6deg) brightness(107%) contrast(101%);
}




/*.button-start:hover .arrow-line {
    width: calc(109 / 320 * 100vw);
}*/

@media (min-width: 320px) and (max-width: 360px) {
    .container {
        width: calc(280px + (100vw - 320px) * (40 / 40));
        top: 32px;
        left: 20px;
    }

    .social-icons-independent {
        display: none;
    }
}

@media (min-width: 361px) and (max-width: 540px) {
    .container {
        width: calc(321px + (100vw - 361px) * (40 / 40));
        height: 891.34px;
        top: 32px;
        left: 20px;
    }

    .social-icons-independent {
        display: none;
    }

    .web-text {
        font-size: 3.75rem;;
    }

    .social-network-text {
        right: -2.5rem;
        bottom: -2.5rem;
    }

    .button-start{
        margin-top: 6rem;
    }

    .arrow-line {
        width: calc(46 / 361 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 361 * 100vw);
        height: calc(11 / 361 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .main-down {
        margin-top: 6.5rem;
    }

    .dsgnr-agency {
        margin-top: 6.5rem;
    }

    .social-icons{
        margin-top: -1.5rem;
    }
}

@media (min-width: 541px) and (max-width: 862px) {
    .container {
        width: 500px;
        height: 970px;
        top: 32px; /*фикс марджина вертикальный*/
        margin: auto 0; /*фикс марджина горизонтальный*/
    }

    .social-icons-independent {
        display: none;
    }
    
    .header-container {
        height: 54px;
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -9.2rem;
        font-size: 1rem;
    }

    .button-start{
        margin-top: 14rem;
        width: 365px;
        height: 147px;
    }

    .arrow-line {
        width: calc(46 / 541 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 541 * 100vw);
        height: calc(11 / 541 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .main-down {
        margin-top: 14.5rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
    }

    .skill-container {
        width: 443px;
        gap: 12px;
    }

    .social-icons{
        margin-top: -23rem;
        margin-left: -3.5rem;
    }

    .dsgnr-agency {
        margin-top: 10rem;
    }
}

@media (min-width: 863px) and (max-width: 1024px) {
    .container {
        width: calc(783px + (100vw - 863px) * (40 / 40));
        height: 676px;
        margin: 0 auto; /* Центрирование контейнера */
    }
    
    .header-container {
        height: 54px;
        justify-content: center;
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
        line-height: 110%;
        margin-top: 2rem;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -7.2rem;
        font-size: 1rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-down {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 14.5rem;
    }

    .skill-container {
        width: calc(259px + (100vw - 863px) * (40 / 40));
        gap: 12px;
        margin-top: -40.5rem;
        margin-left: 32.6rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
        justify-content: center;
    }

    .social-icons {
        display: none;
    }

    .social-icons-independent {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        margin-top: -40px;
        margin-left: 160px;
        gap: 8px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .button-start {
        margin-top: 1.5rem;
        margin-left: 32.7rem;
        width: calc(259px + (100vw - 863px) * (40 / 40));
        height: 147px;
    }

    .arrow-line {
        width: calc(46 / 863 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 863 * 100vw);
        height: calc(11 / 863 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .dsgnr-agency {
        margin-top: -9rem;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .container {
        width: calc(945px + (100vw - 1025px) * (40 / 40));
        margin: 0 auto;
        top: 32px;
        justify-content: normal;
        display: flex;
        align-items: center; /* Центрирование содержимого по горизонтали */
    }
    
    .bg-image {
        position: fixed;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Отключить взаимодействие с фоновыми изображениями */
    }

    .left_cubs {
        position: absolute;
        top: -205px;
        left: -300px;
        width: 679.97px;
        height: 1220.51px;
    }

    .right_cubs {
        position: absolute;
        top: -200px;
        right: -300px;
        width: 640.4px;
        height: 1287.85px;
    }

    .header-container {
        height: 54px;
        justify-content: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
        line-height: 110%;
        margin-top: 2rem;
        margin-left: -42rem;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -7.2rem;
        font-size: 1rem;
    }

    .main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-down {
        margin-top: 14.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .button-start:hover .text-start {
        transform: translateX(calc(-35 / 1440 * 100vw));
        color: #1E1E1E;
        font-weight: 500;
    }

    .button-start:hover .arrow-line {
        width: calc(109 / 1440 * 100vw);
    }

    .arrow-line {
        width: calc(46 / 1025 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 1025 * 100vw);
        height: calc(11 / 1025 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .skill-container {
        width: 365px;
        gap: 13px;
        height: 150px;
        margin-top: -40.5rem;
        margin-left: 32.6rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
    }

    .social-icons {
        display: none;
    }

    .social-icons-independent {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        margin-top: -40px;
        margin-left: 160px;
        gap: 8px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .button-start {
        margin-top: 1.5rem;
        margin-left: 32.7rem;
        width: 365px;
        height: 147px;
    }

    .dsgnr-agency {
        margin-top: -6rem;
    }
}

@media (min-width: 1441px) and (max-width: 1690px) {
    .container {
        width: calc(945px + (100vw - 1440px) * (40 / 40));
        margin: 0 auto;
        top: 32px;
        justify-content: normal;
        display: flex;
        align-items: center; /* Центрирование содержимого по горизонтали */
    }
    
    .bg-image {
        position: fixed;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Отключить взаимодействие с фоновыми изображениями */
    }

    .left_cubs {
        position: absolute;
        top: -205px;
        left: -300px;
        width: 679.97px;
        height: 1220.51px;
    }

    .right_cubs {
        position: absolute;
        top: -200px;
        right: -300px;
        width: 640.4px;
        height: 1287.85px;
    }

    .header-container {
        height: 54px;
        justify-content: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
        line-height: 110%;
        margin-top: 2rem;
        margin-left: -42rem;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -7.2rem;
        font-size: 1rem;
    }

    .main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-down {
        margin-top: 14.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .button-start:hover .text-start {
        transform: translateX(calc(-35 / 1690 * 100vw));
        color: #1E1E1E;
        font-weight: 500;
    }

    .button-start:hover .arrow-line {
        width: calc(109 / 1441 * 100vw);
    }

    .arrow-line {
        width: calc(46 / 1441 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 1441 * 100vw);
        height: calc(11 / 1441 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .skill-container {
        width: 365px;
        gap: 13px;
        height: 150px;
        margin-top: -40.5rem;
        margin-left: 32.6rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
    }

    .social-icons {
        display: none;
    }

    .social-icons-independent {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        margin-top: -40px;
        margin-left: 160px;
        gap: 8px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .button-start {
        margin-top: 1.5rem;
        margin-left: 32.7rem;
        width: 365px;
        height: 147px;
    }

    .dsgnr-agency {
        margin-top: -6rem;
    }
}

@media (min-width: 1691px) and (max-width: 1920px) {
    .container {
        width: calc(1360px + (100vw - 1691px) * (40 / 40));
        margin: 0 auto;
        top: 32px;
        justify-content: normal;
        display: flex;
        align-items: center; /* Центрирование содержимого по горизонтали */
    }
    
    .bg-image {
        position: fixed;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Отключить взаимодействие с фоновыми изображениями */
    }

    .left_cubs {
        position: absolute;
        top: -205px;
        left: -300px;
        width: 679.97px;
        height: 1220.51px;
    }

    .right_cubs {
        position: absolute;
        top: -200px;
        right: -300px;
        width: 640.4px;
        height: 1287.85px;
    }

    .header-container {
        height: 54px;
        justify-content: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
        line-height: 110%;
        margin-top: 2rem;
        margin-left: -42rem;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -7.2rem;
        font-size: 1rem;
    }

    .main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-down {
        margin-top: 14.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .button-start:hover .text-start {
        transform: translateX(calc(-35 / 1920 * 100vw));
        color: #1E1E1E;
        font-weight: 500;
    }

    .button-start:hover .arrow-line {
        width: calc(109 / 1920 * 100vw);
    }

    .arrow-line {
        width: calc(46 / 1691 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 1691 * 100vw);
        height: calc(11 / 1691 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .skill-container {
        width: 365px;
        gap: 13px;
        height: 150px;
        margin-top: -40.5rem;
        margin-left: 32.6rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
    }

    .social-icons {
        display: none;
    }

    .social-icons-independent {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        margin-top: -40px;
        margin-left: 160px;
        gap: 8px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .button-start {
        margin-top: 1.5rem;
        margin-left: 32.7rem;
        width: 365px;
        height: 147px;
    }

    .dsgnr-agency {
        margin-top: -6rem;
    }
}

@media (min-width: 1921px) and (max-width: 2560px) {
    .container {
        width: calc(1840px + (100vw - 1921px) * (40 / 40));
        height: 920px;
        margin: 10% auto;
        top: 32px;
        justify-content: normal;
        display: flex;
        align-items: center; /* Центрирование содержимого по горизонтали */
    }
    
    .bg-image {
        position: fixed;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Отключить взаимодействие с фоновыми изображениями */
    }

    .left_cubs {
        position: absolute;
        top: -50px;
        left: -80px;
        width: 679.97px;
        height: 1220.51px;
        rotate: 16.64deg;
    }

    .right_cubs {
        position: absolute;
        top: -50px;
        right: -100px;
        width: 640.4px;
        height: 1287.85px;
        rotate: -14.11deg;
    }

    .header-container {
        height: 54px;
        justify-content: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .header-designer {
        width: 310px;
    }

    .web-text {
        font-size: 5rem;
        position: relative;
        align-items: flex-start;
        line-height: 110%;
        margin-top: 2rem;
        margin-left: -42rem;
    }

    .social-network-text {
        right: -9.7rem;
        bottom: -7.2rem;
        font-size: 1rem;
    }

    .main-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-down {
        margin-top: 14.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%; /* Занимает всю ширину контейнера */
    }

    .button-start:hover .text-start {
        transform: translateX(calc(-35 / 2560 * 100vw));
        color: #1E1E1E;
        font-weight: 500;
    }

    .button-start:hover .arrow-line {
        width: calc(109 / 2560 * 100vw);
    }

    .arrow-line {
        width: calc(46 / 1921 * 100vw);
        height: 1px;
        transition: width 300ms ease-in-out;
    }

    .arrow-head {
        width: calc(10 / 1921 * 100vw);
        height: calc(11 / 1921 * 100vw);
        flex-shrink: 0;
        margin-left: -10px;
        transition: fill 300ms ease-in-out;
    }

    .skill-container {
        width: 365px;
        gap: 13px;
        height: 150px;
        margin-top: -40.5rem;
        margin-left: 32.6rem;
    }

    .skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
        font-size: 18px;
    }

    .social-icons {
        display: none;
    }

    .social-icons-independent {
        display: flex;
        width: 100%;
        height: 44px;
        justify-content: flex-end;
        margin-top: -40px;
        margin-left: 160px;
        gap: 8px;
        flex-direction: row;
        box-sizing: border-box;
    }

    .button-start {
        margin-top: 1.5rem;
        margin-left: 32.7rem;
        width: 365px;
        height: 147px;
    }

    .dsgnr-agency {
        margin-top: -6rem;
    }
}