body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #171717;
    background-size: cover;
    background-position: center;
    font-family: Montserrat;
}

.grid-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 773px;
    border: 2px dashed #00FF00; /* Граница гизмы */
    box-sizing: border-box;
    pointer-events: none;
    z-index: 1000; /* Чтобы гизма была поверх всех элементов */
}

.container { /*Контейнер .container используется для обеспечения относительного позиционирования. Контейнер .header-container позиционируется абсолютно внутри .container с заданными отступами (top: 52px и left: 565px).*/
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container::before { /*гизма*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Пунктирная граница для контейнера */
    pointer-events: none; /* Чтобы граница не перекрывала кликабельные элементы */
    box-sizing: border-box;
}



.header-container {
    position: absolute;
    top: 52px; /* Отступ сверху */
    left: 565px; /* Отступ слева */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDFF00;
    padding: 6.83px 16.39px; /* Отступы согласно макету Figma */
    border: 2px solid #000; /* Цвет и размер рамки */
    border-radius: 10px; /* Скругленные углы рамки */
    min-width: 310.23px; /* Минимальная ширина с учетом ширины экрана */
    min-height: 53.94px; /* Минимальная высота с учетом высоты экрана */
    box-sizing: border-box; /* Учитывать padding и border в размере */
}


.header-container img {
    max-width: 100%;
    min-width: 277.46;
    min-height: 40.28;
    height: auto;
}

.header-container::before { /*гизма*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Гид с красной пунктирной границей */
    pointer-events: none; /* Чтобы гид не перекрывал кликабельные элементы */
    box-sizing: border-box; /* Чтобы границы учитывались внутри размеров контейнера */
}

.text-left-container {
    position: absolute;
    top: 179px; /* Отступ сверху */
    left: 231px; /* Отступ слева */
    width: 486px; /* Ширина текста */
/*    height: 440px;*/
    font-weight: 900;
    font-size: 80px;
    color: white;
    line-height: 1.1;
    box-sizing: border-box;
}

.text-light {
    color:#BDFF00;
}

.text-left-container svg {
    width: 100%;
    height: 100%;
}

.text-left-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Гид с красной пунктирной границей */
    pointer-events: none; /* Чтобы гид не перекрывал кликабельные элементы */
    box-sizing: border-box; /* Чтобы границы учитывались внутри размеров контейнера */
}

.social-network {
    position: absolute;
    top: 545px; /* Отступ сверху с учетом высоты макета */
    left: 573px; /* Отступ слева с учетом ширины макета */
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-star;
    justify-content: flex-start;
    gap: 12px;
    box-sizing: border-box;
}

.social-network::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Гид с красной пунктирной границей для social-network */
    pointer-events: none; /* Чтобы гид не перекрывал кликабельные элементы */
    box-sizing: border-box; /* Чтобы границы учитывались внутри размеров контейнера */
}

.social-network-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 96px;
    height: auto;
    line-height: 150%; /* 24px */
    box-sizing: border-box;
}

.social-icons {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 4px;
    flex-direction: row;
    box-sizing: border-box;
}

.icon {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #FFF;
    border-radius: 4px;
}

.icon img {
    width: 24px;
    height: 24px;
}

.skill-container {
    position: absolute;
    display: flex;
    align-content: flex-start;
    justify-items: flex-start;
    flex-wrap: wrap;
    color: white;
    top: 202px;
    left: 827px;
    width: 381px;
    height: auto;
    box-sizing: border-box;
    gap: 12px;
}

.skill-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Гид с красной пунктирной границей для social-network */
    pointer-events: none; /* Чтобы гид не перекрывал кликабельные элементы */
    box-sizing: border-box; /* Чтобы границы учитывались внутри размеров контейнера */
}

.skill-UX-UI, .skill-Motion, .skill-3D, .skill-Айдентика, .skill-Верстка, .skill-AI-Изображения, .skill-Баннеры {
    display: flex;
    padding: 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4A4A4A;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.button-start {
    display: flex;
    position: absolute;
    top: 457px;
    left: 827px;
    width: 379px;
    height: 147px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #BCFF02;
    background-color: transparent;
    transition: background-color 300ms ease-in-out;
}

.button-start::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed red; /* Гид с красной пунктирной границей для social-network */
    pointer-events: none; /* Чтобы гид не перекрывал кликабельные элементы */
    box-sizing: border-box; /* Чтобы границы учитывались внутри размеров контейнера */

}

.text-start {
    color: #BCFF02;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: transform 300ms ease-in-out, color 300ms ease-in-out;
}

.arrow-container {
    display: flex;
    align-items: center;
}

.arrow-line {
    width: 40px;
    height: 1px;
    transition: width 300ms ease-in-out;
}

.arrow-head {
    width: 9px;
    height: 9px;
    flex-shrink: 0;
    transition: fill 300ms ease-in-out;
}

/*---------------------------------------HOVER--------------------------------------------------*/
.button-start:hover {
    background-color: #BCFF02;
}

.button-start:hover .text-start {
    transform: translateX(-35px);
    color: #1E1E1E; /* Цвет текста при наведении */
    font-weight: 500;
}

.button-start:hover .arrow-line {
    width: 109px; /* Расширяем только линию */
}

.button-start:hover .arrow-line line {
    stroke: black;
}

.button-start:hover .arrow-head path {
    fill: black; /* Цвет наконечника при наведении */
}

/*---------------------------------------HOVER--------------------------------------------------*/

.dsgnr-agency {
    position: absolute;
    top: 736px;
    left: 645px;
    color: #797979;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}